@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400);

@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:700);

@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:900);

@import url(http://fonts.googleapis.com/css?family=Megrim);
section {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 20px solid;
}
section#s1 {
  background: #5ea771;
  border-bottom-color: #3f744d;
}
section#s2 {
  background: #671a93;
  border-bottom-color: #360e4e;
  position: relative;
  overflow: hidden;
  user-select: none;
  height: 440px;
}
section#s2 p.huge {
  text-align: center;
  color: #e6e6e6;
  font-size: 180px;
  margin-top: 120px;
  font-family: 'Alegreya SC', serif;
  text-shadow: 3px 3px 7px rgba(44, 44, 44, 0.3);
}
section#s2 div.doors {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0.5, #8f0f0f), color-stop(0.5, #8f0f0f), color-stop(1, #dc2d4b));
  background-size: 13%;
  /*background-image: 
				-moz-linear-gradient(0, 
					rgba(255, 255, 255, .25) 50%, 
					rgba(255, 255, 255, 0) 50%, 
					rgba(255, 255, 255, 0));
			background-image: 
				-ms-linear-gradient(0deg, 
					rgba(255, 255, 255, .25) 50%, 
					rgba(255, 255, 255, 0) 50%, 
					rgba(255, 255, 255, 0) 100%);
			background-image: 
				-o-linear-gradient(0, 
					rgba(255, 255, 255, .25) 50%, 
					rgba(255, 255, 255, 0) 50%, 
					rgba(255, 255, 255, 0) 100%);
			background-image: 
				linear-gradient(0, 
					rgba(255, 255, 255, 0.25) 50%, 
					rgba(255, 255, 255, 0) 50%,
					rgba(255, 255, 255, 0) 100%);*/

}
section#s2 div#left_door {
  left: 0;
  z-index: 2;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
section#s2 div#right_door {
  left: 50%;
  z-index: 1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
section#s2 div.navz_cont {
  display: block;
}
section#s2 div.navz_cont ul.navz {
  text-align: center;
  display: block;
  list-style: none;
  margin-left: 0 !important;
  padding: 0;
  margin-top: 0px;
}
section#s2 div.navz_cont ul.navz li {
  color: #fff;
  font-family: Megrim;
  font-size: 95px;
  display: inline;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
section#s2 div.navz_cont ul.navz li:not(.navactive):hover {
  color: #fff;
  background: #ef9628;
}
section#s2 div.navz_cont ul.navz li:active {
  color: #fff;
}
section#s2 div.navz_cont li.navactive {
  color: #fff;
  background: #ae0e21;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 7px 6px rgba(174, 14, 33, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);
}
section#s3 {
  height: 500px;
}
section#s4 {
  height: 500px;
}
*:link,
*:visited,
*:hover,
*:focus {
  -webkit-transition: color 0.17s linear, background-color 0.17s linear, opacity 0.17s linear, border-color 0.17s linear;
  transition: color 0.17s linear, background-color 0.17s linear, opacity 0.17s linear, border-color 0.17s linear;
}
